<%= render @recipes %>
<div class="cuisines">
  <% @cuisines.each do |cuisine| %>
    <%= link_to cuisine.name, cuisine %>
  <% end %>
</div>
<div class="food_types">
  <% @food_types.each do |food_type| %>
    <%= link_to food_type.name, food_type %>
  <% end %>
</div>
<div class="favorites">
  <% @favorite_recipes.each do |favorite| %>
    <%= render favorite.recipe %>
  <% end %>
</div>
