<%= form_for @recipe do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :photo %>
  <%= f.file_field :photo, accept: 'image/png,image/jpeg'%>
  <%= f.label :cuisine_id %>
  <%= f.collection_select :cuisine_id, @cuisines, :id, :name %>
  <%= f.label :food_type_id %>
  <%= f.collection_select :food_type_id, @food_types, :id, :name %>
  <%= f.label :serving_ammount %>
  <%= f.text_field :serving_ammount %>
  <%= f.label :preparation_time %>
  <%= f.text_field :preparation_time %>
  <%= f.label :level %>
  <%= f.select :level, @levels %>
  <%= f.label :ingredients %>
  <%= f.text_area :ingredients %>
  <%= f.label :directions %>
  <%= f.text_area :directions %>

  <%= f.submit %>
<% end %>
