<%= recipe.user.name %>
<%= content_tag 'h2', recipe.name %>
<%= image_tag recipe.photo.url(:medium)%>
<%= recipe.cuisine.name %>
<%= recipe.food_type.name %>
<%= recipe.serving_ammount %>
<%= recipe.preparation_time %>
<%= recipe.level_i18n %>
<%= recipe.ingredients %>
<%= recipe.directions %>
<% if current_user == recipe.user %>
  <%= link_to 'Excluir', recipe, method: 'DELETE' %>
  <%= link_to 'Editar', edit_recipe_path(recipe) %>
<% end %>
<% if show_favorite_buttom?(recipe) %>
  <%= link_to 'Favoritar', favorite_recipe_path(recipe), method: 'POST' %>
<% end %>
