<%= render @recipe %>

<% if logged_in? %>
  <div class="share">
    <%= form_tag share_recipe_path, method: 'POST' do %>
      <%= label_tag :email, 'Email' %>
      <%= text_field_tag :email %>
      <%= submit_tag 'Compartilhar', name: nil %>
    <% end %>
  </div>
<% end %>
