<%= form_for @user do |f| %>
  <%= f.label :name, 'Nome' %>
  <%= f.text_field :name %>
  <%= f.label :mail, 'Email' %>
  <%= f.email_field :mail, class: 'form-control' %>
  <%= f.label :city, 'Cidade' %>
  <%= f.email_field :city, class: 'form-control' %>
  <%= f.label :facebook, 'Facebook' %>
  <%= f.text_field :facebook, class: 'form-control' %>
  <%= f.label :twitter, 'Twitter' %>
  <%= f.text_field :twitter, class: 'form-control' %>
  <%= f.label :password, 'Senha' %>
  <%= f.password_field :password, class: 'form-control' %>
  <%= f.label :password_confirmation, 'Confirmação' %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
  <%= f.submit text_submit, class: "btn btn-primary" %>
<% end %>
