<%= content_tag :h2, @user.name %>
<%= @user.city %>
<%= @user.mail %>
<%= @user.facebook %>
<%= @user.twitter %>
<%= link_to 'Editar Perfil', edit_user_path(current_user) %>
<div class="recipes">
  <%= render @user.recipes %>
</div>
<%= link_to 'Favorites', favorites_user_path(@user) %>
<%= @user.favorites.count %>
